*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/drawable/natianxiayule.jpeg
/app/src/main/res/raw/natianxiayule.mp3
/app/src/main/res/drawable/qingtian.jpg
/app/src/main/res/raw/qingtian.mp3
/app/src/main/res/raw/shalong.mp3
/app/src/main/res/drawable/shalong.png
/app/src/main/res/drawable/yintian.jpg
/app/src/main/res/raw/yintian.mp3
/app/src/main/res/drawable/yutian.jpg
/app/src/main/res/raw/yutian.mp3
/app/src/main/res/raw/zuijiasunyou.mp3
/app/src/main/res/drawable/zuijiasunyou.png
